.custom-shape-divider-top-1643817451 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1643817451 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 152px;
}

.custom-shape-divider-top-1643817451 .shape-fill {
    fill: url(#my-cool-gradient);
}