    .cls-1 {
        fill: none;
      }

      .cls-2,
      .cls-9 {
        fill:none;
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
      }

      .cls-2 {
        opacity: 0.4;
        isolation: isolate;
      }

      .cls-3 {
        fill:rgba(0, 255, 255, 0.384);
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
      }

      .cls-4 {
        fill: url(#world);
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
      }

      .cls-5 {
        fill: url(#Безымянный_градиент_15);
      }

      .cls-6 {
        clip-path: url(#clip-path);
      }

      .cls-7 {
        fill: none;
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
        
      }

      .cls-8 {
        opacity: 0.05;
      }

      .cls-9 {
        opacity: 0.4;
      }

      .cls-10 {
        fill: none;
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
      }

      .cls-11 {
        fill: none;
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
      }

      .cls-12 {
        fill: none;
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
      }

      .cls-13 {
        fill: none;
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
      }

      .cls-14 {
        fill: none;
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
      }

      .cls-15 {
        fill: none;
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
      }

      .cls-16 {
        fill: none;
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
      }

      .cls-17 {
        fill: none;
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
      }

      .cls-18 {
        fill: none;
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
      }

      .cls-19 {
        fill: none;
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
      }

      .cls-20 {
        fill: none;
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
      }

      .cls-21 {
        fill: none;
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
      }

      .cls-22 { 
        fill: none;
        stroke: rgba(0, 0, 0, 0.438);
        stroke: width 1px;
      }
      